<div class="main-tab-content">
  <div class="tab-col-left">
    <h2>In the Moment</h2>
    <p>This was a small Defyned project. I helped out some friends with Spot by working with the inventor to realize his vision for this brand. I designed the logo, packaging and other neat stuff. <br><br>The video was produced by a colleague of mine, Jon Cole who had been contracting for Defyned at the time.</p>
  </div>
  <div class="tab-col-mid">
    <div class="tab-bullets">
      <p class="title">Goals</p>
      <ul>
        <li><span>Create a brand, quickly</span></li>
        <li><span>Develop a go-to-market strategy</span></li>
        <li><span>Create an eCommerce website</span></li>
      </ul>
      <p class="title">Overview</p>
      <p>Spot has patented and designed an innovative Bluetooth headset holder that clips onto your shirt. Pretty nifty.</p>
      <div class="home-slideshow slideshow-eight">
        <div><%= image_tag "layout/marketing_portal/slide_spot_1.jpg", :alt => "" %></div>
        <div><%= image_tag "layout/marketing_portal/slide_spot_2.jpg", :alt => "" %></div>
        <div><%= image_tag "layout/marketing_portal/slide_spot_3.jpg", :alt => "" %></div>
      </div>
      <div class="clear"></div>
      <div id="home_slide_nav8" class="home_slide_nav"></div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="tab-col-right">
    <div class="title">Videos</div>
    <div class="left" style="margin:0px 6px 0px 0px;" ><%= link_to image_tag("layout/marketing_portal/mast_vid_spot_1.jpg", :alt => ""), "javascript:;", :onclick => "loadVideo1();" %></div>
  </div>
  <div class="clear"></div>
</div>
<%= javascript_tag do -%>
$(document).ready(function(){
  var rand = $('.slideshow-eight > div').length;
  $('.slideshow-eight').cycle({
    pager: '#home_slide_nav8',
    cleartype: 1,
    timeout:0,
    startingSlide: Math.floor(Math.random() * rand),
    fx: 'none'
  });
  $("#connect_and_exchange_wrapper").css({opacity: 0, visibility: "visible"});
  var html = $(".hidden-media-widget").html();
  $(".hidden-media-widget").remove();
  $("#connect_and_exchange_wrapper").html(html);
  $("#connect_and_exchange_wrapper").css({opacity: 0, visibility: "visible"}).animate({opacity: 1}, 1000);
  
  $(".mast-text").hide();
  $(".mast-text").slideDown("slow");
});
function loadVideo1() {
   jQuery.facebox('<iframe src="http://player.vimeo.com/video/14002736?portrait=0" width="650" height="440" frameborder="0"></iframe><br><br>');
   $(".fb-content").trigger("update");
 }

<% end -%>

<!-- mod/hack -->
<div class="hidden-media-widget" style="dispay:none;">
  <div class="center-content exchange-bg">
    <div class="content-tab-navigation">
      <div class="tab-left-link-white">
        <%= link_to image_tag("layout/marketing_portal/arrow_back-white.png", :alt =>"") + " Previous Project","javascript:void(0);", :onclick => "$('#hlp_content_tabs').tabs('select', 6);return false;" %>
      </div>
      <div class="tab-right-link-white">
        <%= link_to ("Next Project " + image_tag("layout/marketing_portal/arrow_next-white.png", :alt =>"")).html_safe ,"javascript:void(0);", :onclick => "$('#hlp_content_tabs').tabs('select', 8);return false;" %>
      </div>
    </div>
    <div class="mast-bg-spot">
      <div class="mast-text">
        <h1>NEW PRODUCT</h1>
        <p>Spot is a patented Bluetooth earpiece and ear bud holder.</p>
        <div><a href="http://getaspot.com" target="_blank"><%= image_tag "layout/marketing_portal/mast_spot_btn.jpg", :alt => "" %></a></div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>