
<%= javascript_tag do -%>
$(document).ready(function(){
  
  $().framerate({framerate: 30})
  var rand = $('.slideshow-one > div').length;
  $('.slideshow-one').cycle({
    pager: '#home_slide_nav',
    cleartype: 1,
    timeout:0,
    startingSlide: Math.floor(Math.random() * rand),
    fx: 'none'
  });
  $("#connect_and_exchange_wrapper").css({opacity: 0, visibility: "visible"});
  var html = $(".hidden-media-widget").html();
  $(".hidden-media-widget").remove();
  $("#connect_and_exchange_wrapper").html(html);
  $("#connect_and_exchange_wrapper").css({opacity: 0, visibility: "visible"}).animate({opacity: 1}, 1000);
  
  $(".mast-text").hide();
   $(".mast-text").slideDown("slow");

  
           
  
});

<% end -%>

<!-- mod/hack -->
<div class="hidden-media-widget" style="dispay:none;">
  <div class="center-content exchange-bg">
    <div class="content-tab-navigation">
      <div class="tab-left-link-white">
        <%= link_to image_tag("layout/marketing_portal/arrow_back-white.png", :alt =>"") + " Previous Project","javascript:void(0);", :onclick => "$('#hlp_content_tabs').tabs('select', 1);return false;" %>
      </div>
      <div class="tab-right-link-white">
        <%= link_to ("Next Project " + image_tag("layout/marketing_portal/arrow_next-white.png", :alt =>"")).html_safe ,"javascript:void(0);", :onclick => "$('#hlp_content_tabs').tabs('select', 3);return false;" %>
      </div>
    </div>
    <div class="mast-bg-defyned" >
        <div class="mast-text">
          <h1>CONCEPTUAL</h1>
          <p>Innovation up the wazoo. Chatyeo is the first of its kind. While inventing this product.</p>
          <div><%= image_tag "layout/marketing_portal/mast_baseprice_btn.jpg", :alt => "" %></div>
        </div>
    </div>
    <div class="main-tab-content">
     <div class="tab-col-left">
       <h2>Moments with the Master</h2>
       <p>I've worked with kids from all over the places and the plances and things that I do that are made to be the next big deal to make it so that we can all be together and forever.</p>
     </div>
     <div class="tab-col-mid">
        <div class="tab-bullets">
           <p class="title">Goals</p>
           <ul>
             <li><span>Develop a reverse auction website</span></li>
             <li><span>Create comprehensive invitation and referral tools</span></li>
             <li><span>Design MLM style referral engine</span></li>

           </ul>
           <p class="title">Project Overview</p>
           <p>Baseprice is pioneering a new reverse auction concept that gives consumers the opportunity to create their own sale by telling friends about the deal.</p>
           <div class="home-slideshow slideshow-three">
             <div><%= image_tag "layout/marketing_portal/slide_baseprice_1.jpg", :alt => "" %></div>
             <div><%= image_tag "layout/marketing_portal/slide_baseprice_2.jpg", :alt => "" %></div>
             <div><%= image_tag "layout/marketing_portal/slide_baseprice_3.jpg", :alt => "" %></div>
             
           </div>
           <div class="clear"></div>
           <div id="home_slide_nav3" class="home_slide_nav"></div>
           <div class="clear"></div>
           
   <%= javascript_tag do -%>
   $(document).ready(function(){
     var rand = $('.slideshow-three > div').length;
     $('.slideshow-three').cycle({
       pager: '#home_slide_nav3',
       cleartype: 1,
       timeout:3000,
       startingSlide: Math.floor(Math.random() * rand),
       fx: 'none'
     });
     $("#main-tab-content").css({opacity: 0, visibility: "visible"});
     var html = $(".hidden-media-widget").html();
     $(".hidden-media-widget").remove();
     $("#main-tab-content").html(html);
     $("#main-tab-content").css({opacity: 0, visibility: "visible"}).animate({opacity: 1}, 1000);
   });

   function modalContent(obj){
     jQuery.facebox({ ajax: obj.href });
   }
   $(document).bind('reveal.facebox', function() {
     if($('.modal-content-popup-wrapper').length > 0){
       $('.modal-content-popup-wrapper').jScrollPane( {dragMinHeight: 25} );
       $('.modal-content-popup-wrapper')[0].scrollTo(0);
     };
   });
   <% end -%>
   

         </div>
      </div>
      <div class="tab-col-right">
         test
      </div>
      <div class="clear"></div>
    </div>
    
    <div class="clear"></div>
  </div>
</div>