<% content_for :page_title, "How does it work?"%>
<div class="center-content">
  <div id="mk_wis_cust_experience">
    <p class="title">&ldquo;While you focus on closings, let us focus on new beginnings with online 
      and offline loyalty marketing and engagement best practices.&rdquo;</p>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
  <div class="mk_wis_header_wrapper">
    <div class="left"><%= image_tag "layout/marketing_portal/infograph_whatsTech.png", :alt => ""%></div>
    <div class="mk_wis_common_questions_wrapper">
      <%= render :partial => "home/common_questions_links", :locals => {:active_link => :how_it_works}%>
    </div>
    <div class="clear"></div>
  </div>
  <div class="mk_wis_content_wrapper">
    <div class="mk_wis_content">
      <h2>Marketing Channels</h2>
      <p class="text">automated and finessed by the Home Life Perks<br/>
        system, branded completely on your behalf</p>
      <div class="clear"></div>
      <div class="mk_wis_content_block">
        <div class="left"><%= image_tag "layout/marketing_portal/what_is_it_brands.jpg", :alt => "" %></div>
        <div class="wis_block_text">
          <p class="title">Corporate Relationships</p>
          <p>Introduce your users to eachother based on their interests. 
            Let them friend and follow eachother and liven up the 
            conversation on your site.
          </p>
        </div>
      </div>
      <div class="mk_wis_content_block">
        <div class="left"><%= image_tag "layout/marketing_portal/what_is_it_tech.jpg", :alt => "" %></div>
        <div class="wis_block_text">
          <p class="title">Technology</p>
          <p>Introduce your users to eachother based on their interests. 
            Let them friend and follow eachother and liven up the 
            conversation on your site.
          </p>
        </div>
      </div>
      <div class="mk_wis_content_block">
        <div class="left"><%= image_tag "layout/marketing_portal/what_is_it_staff.jpg", :alt => "" %></div>
        <div class="wis_block_text">
          <p class="title">Expert Staff</p>
          <p>Your users can tag and share your content with their friends with 
            great ease. Viz. takes care of all this, empowering your application 
            with a totally new distribution.
          </p>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
