      <div class="mk_wis_common_questions">
        <p class="title">Common Questions</p>
        <ul>
          <li><%= link_to "What is it?", what_is_it_path("home"), :class => active_link_class(:what_is_it, active_link)%></li>
          <li><%= link_to "How does it work?", what_is_it_path("how-does-it-work"), :class => active_link_class(:how_it_works, active_link)%></li>
          <li><%= link_to "How do I use it?", what_is_it_path("how-do-i-use-it"), :class => active_link_class(:how_i_use_it, active_link)%></li>
          <li><%= link_to "What are perks?", what_is_it_path("what-are-perks"), :class => active_link_class(:what_are_perks, active_link)%></li>
          <li><%= link_to "What's the technology?", what_is_it_path("what-is-the-technology"), :class => active_link_class(:what_is_tech, active_link)%></li>
          <li><%= link_to "Customer Experience", what_is_it_path("customer-experience"), :class => active_link_class(:customer_experience, active_link)%></li>
          <li><%= link_to "Can I see samples?", what_is_it_path("can-i-see-a-sample"), :class => active_link_class(:see_sample, active_link)%></li>
        </ul>
      </div>