<div class="mk_portal_home">
  <div class="center-content">
    <div class="mk_portal_widget">
      <div class="widget_text">
        <p class="title">Engage Your Clients</p>
        <p>and add value while remaining relevant.</p>
        <div class="widget_links">
          <div class="left" style="margin: 0px 7px 0px 0px;"><%= link_to image_tag("layout/marketing_portal/btn_watchvideo.png", :alt => ""), "#" %></div>
          <div class="left"><%= link_to image_tag("layout/marketing_portal/btn_demo.png", :alt => ""), "#" %></div>
        </div>
        <div class="widget_links">
          <p>Or sign up for as low <strong>as $29.00</strong><br/>
            <strong>per month</strong>. See plans and pricing.</p>
        </div>
        <div class="clear"></div>
        <div id="automate_media_efforts">
          <p>&ldquo;Automate your social media marketing effort.&rdquo;</p>
        </div>
      </div>
      <div class="widget_image"><%= image_tag "layout/marketing_portal/stage_item_1.jpg", :alt => "" %></div>
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="clear"></div>
<div class="center-content">
  <div id="mk_service_exclusive">
    <p class="title">&ldquo;Our service delivers exclusive benefits, discounts 
      and value added to your customers.&rdquo;
    </p>
    <div class="left" style="margin:20px 0px 0px;"><%= link_to image_tag("layout/marketing_portal/btn_getStartedNow.png", :alt => ""), "#" %></div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
  <div id="mk_benefits_usage">
    <div class="benefits_usage_block">
      <p class="title">Benefits &amp; Usage</p>
      <ul>
        <li>Grow your database</li>
        <li>Sales incentive</li>
        <li>Viral marketing</li>
        <li>Remain top-of-mind</li>
        <li>Farm your database</li>
        <li>Drop by incentive</li>
        <li>Listing incentive</li>
      </ul>
    </div>
    <div class="photonav_block">
      <%= link_to image_tag("layout/marketing_portal/photonav_coupleBuying.png", :alt => ""), "#" %>
      <p class="title">Give the gift Cash Back Perks</p>
      <p>Learn more about double dipping and the savings associated.</p>
    </div>
    <div class="photonav_block">
      <%= link_to image_tag("layout/marketing_portal/photonav_familyBeach.png", :alt => ""), "#" %>
      <p class="title">Engage Your Audience</p>
      <p>With relevancy and lifestyle and living content.</p>
    </div>
    <div class="photonav_block">
      <%= link_to image_tag("layout/marketing_portal/photonav_guyOnCell.png", :alt => ""), "#" %>
      <p class="title">Stay Connected</p>
      <p>Leverage 50+ meaningful touches per year with Home Life Perks.</p>
    </div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
  <div id="mk_service_professionals">
    <p class="title">&ldquo;Home Life Perks is the first loyalty marketing program designed for service professionals.&rdquo;</p>
    <div class="clear"></div>
  </div>
</div>
<div id="mk_home_tools_wrapper">
  <div id="mk_home_tools">
    <div class="center-content" style="width:950px;">
      <div class="mk_tool_block">
        <p class="title">
          <%= image_tag "layout/marketing_portal/icon_grey.png", :alt => "" %>
          <span>Launch your network in less than 60 seconds</span>
        </p>
        <p>Get things up and running with just a few clicks, then build up your community. Create 
          a powerful site on your own, or work with professionals to take it to the next level.
        </P>
      </div>
      <div class="mk_tool_block">
        <p class="title">
          <%= image_tag "layout/marketing_portal/icon_grey.png", :alt => "" %>
          <span>Customize the design and own the experience</span>
        </p>
        <p>Choose from 50 unique themes or add custom CSS to reflect your online or offline 
          style. Invite the world or make it exclusive, you control your member experience 
          and data.
        </p>
      </div>
      <div class="mk_tool_block">
        <p class="title">
          <%= image_tag "layout/marketing_portal/icon_grey.png", :alt => "" %>
          <span>Choose a product that grows with your vision</span>
        </p>
        <p>Mix and match 15+ features to deliver the social experience that's right for you. 
          Take advantage of Ning Apps, APIs and customization tools to make it unique.
        </p>
      </div>
      <div class="mk_tool_block" style="margin: 0px;">
        <p class="title">
          <%= image_tag "layout/marketing_portal/icon_grey.png", :alt => "" %>
          <span>Drive revenue with an engaged member base</span>
        </p>
        <p>Select features for advertising, social games, sidefronts, donations and more to 
          make your Ning Network a critical component of your revenue or fundraising goals.
        </p>
      </div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
</div>
<div class="clear"></div>
<div id="mk_get_started_button">
  <div class="center-content">
    <div class="get_started_wrapper"><%= link_to image_tag("layout/marketing_portal/btn_getStarted.png", :alt => ""), "#" %></div>
  </div>
</div>